/TraditionalTestsV1/node_modules/
/TraditionalTestsV1/cypress/screenshots/
/TraditionalTestsV1/cypress/snapshots/
/TraditionalTestsV2/node_modules/
/TraditionalTestsV2/cypress/screenshots/
/TraditionalTestsV2/cypress/snapshots/
